@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 253);
    box-sizing: border-box;
}

.header-text {
    width: 100%;
    margin: auto;
    margin-bottom: 10px; /* 適宜調整 */
    text-align: center;
    font-size: 19px;
    font-weight: bold; /* 太字 */
    color: #f5f5fa; /* 青など目立つ色 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

/* 真中にスペース挿入 */
.access, .header-tell {
    margin: 50px;
}

.header-address {
    background-color: rgb(253, 124, 124, 0.1);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    font-size: 25px;
    color: #ececf7; /* 青など目立つ色 */
    font-weight: bold; /* 太字 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

.header-address a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(235, 119, 119);
}

.header-address p, .header-address a{
    border: 1px solid black;
    padding: 0 50px;
    margin: 10px;
}

.header-address .access, .header-address .header-tell {
    display: flex;
}

.header-tell .tell-number {
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
}

.header-tell .tell-info {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
}


/* ヘッダーナビ */

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.header-menu a {
    color: #f3f3f7; /* 青など目立つ色 */
    font-weight: bold; /* 太字 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

.logo img{
    border-radius: 40%;
}

ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

li {
    list-style: none;
    margin: auto 10px;
}

.header-menu-subtittle {
    color: red;
}

h2 {
    text-align: center;
}

/* こだわり */

.craftsmanship-section {
    margin-bottom: 48px;
}
.craftsmanship-top {
    text-align: center;
    font-weight: bold;
}

.contents {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.contents p {
    color: #f5f5fa;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0;

}

.contents a {
    color: #ececf7;
    text-decoration: none;
}

.content {
    background-color: rgba(255, 0, 0, 0.356);
    width: 100%;
}

.material, .charcoal, .how-to-cook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
}

.material .content, .charcoal .content, .how-to-cook .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.material {
    background: url(../img/material.png) center/cover;
}

.charcoal {
    background: url(../img/chacorl.jpg) center/cover;
}

.how-to-cook {
    background: url(../img/how-to-cook.png) center/cover;
}

/* ヒーロー */

header {
    background: url(../img/hero.jpg) center/cover;
    width: 100vw;
    height: 100vh;
    margin-bottom: 3rem;
}

/*　こだわり */
.craftsmanship {
    display: flex;
    justify-content: center;
}

.craftsmanship-logo {
    text-align: center;
}

.craftsmanship-logo p {
    color: red;
}

.craftsmanship-top-subTitle {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
}

/* 逸品料理 */

.speciality-dishes-section{
    margin-bottom: 100px;
}

.speciality-dishes-top {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.speciality-dishes-contents {
    display: flex;
}

.speciality-dishes-contents-left {
    background: url(../img/makigusi.png) no-repeat center/cover;
    width: 80%;
    height: 30rem;
    margin-left: 60px;
}

.appeal-women {
    background-color: rgb(238, 162, 162);
    font-size: 14px;
    text-align: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.speciality-dishes-explain {
    text-align: center;
    margin: 100px 100px;
}

.speciality-dishes-contents-right-imgs {
    display: flex;
    justify-content: space-around;
}

.speciality-dishes-contents-right-img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
}

/* 求人情報 */

.recruit-contents {
    background: url(../img/particulars2.jpg) no-repeat center/cover;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
}

.recruit-contents p {
    text-align: center;
}

.recruit-contents p {
    width: 50%;
    text-align: center;
}

/* 地図 */
.map-img {
    margin-top: 50px;
}

/* フッター */

footer {
    width: 100%;
}

.footer-menu {
    width: 100%;
    background-color: rgb(214, 46, 46);
}

.footer-menu ul {
    width: 100%;
    display: flex; /* 横並び */
    /* gap: 5px;  */
}

.footer-menu ul li a {
    color: #ececf7;
    width: 100%;
    text-decoration: none; /* 下線を消したい場合 */
}

footer {
    width: 100%;

}
.footer-contents {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.footer-contents img {
    /* height: ; */
    /* width: 100px; */
}

.address, .tell, .opennig-times, .closed-day {
    display: flex;
    justify-content: space-around;
}

.opennig-times {
    justify-content: space-between;

}

.footer-info .item{
    width: 300px;
    text-align: center;
}

.opennig-times-item {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.opennig-times .content {
    width: 387px;
}

.copyright {
    background-color: rgb(212, 38, 38);
    text-align: center;
}
