@charset "UTF-8";

@media (min-width: 960px) {
    .header-text .sp-br {
        display: none;
    }
}

@media (max-width: 900px) {
    header .header-address {
        /* display: flex; */
        position: fixed;
        bottom: 0;
        background-color: red;
        font-size: 100%;
        max-width: 100vw;
    }

    .header-address .map-link {
        color: black;
    }

    header .header-menu {
        display: grid;
        grid-template-areas:
            "img img"
            "menu-left menu-left"
            "menu-right menu-right";
        grid-template-columns: 1fr 1fr;
    }

    .header-menu .logo {
        grid-area: img;
        display: flex;
        justify-content: center;
    }

    .menu-left { grid-area: menu-left}
    .menu-right { grid-area: menu-right}

    .header-menu .logo {
        padding: auto;
    }
    
    body .circle {
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
    }

    body .circle a {
        font-size: 0.45rem;
    }

    footer {
        margin-bottom: 6rem;
    }

    .footer-info .item, .footer-info-content {
        font-size: 80%;
    }

    .footer-info .item {
        font-size: 80%;
    }
}

    @media (max-width: 610px) {

    }
    @media (max-width: 428px) {

    }
    @media (max-width: 375px) {

    }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(255, 255, 253);
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-size: 1.1vw;
}

.header-text {
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold; /* 太字 */
    color: #f5f5fa; /* 青など目立つ色 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

/* ヘッダーアドレス */

.header-address {
    width: 100%;
    background-color: rgba(247, 29, 29, 0.856);
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* padding: 0 20px; */
    font-size: 25px;
    color: #ececf7; /* 青など目立つ色 */
    font-weight: bold; /* 太字 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

.header-address .access, .header-address .header-tell {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-address p, .header-address a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    /* width: 200px; */
    text-align: center;
}

.header-address a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(250, 245, 245);
    padding: 10px;
}

.header-address .how-access, .header-tell .tell-info {
    background-color: rgba(255, 0, 0, 0.438);
    margin-right: 20px;
    padding: 0 20px;

}

.header-tell .tell-number {
    border: none;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    /* フォントサイズ拡大の為 */
    margin: 15px 0;
}

/* SNSボタン */
.SNS-button {
    position: fixed; /* 画面上に固定 */
    right: 1rem; /* 右端に配置 */
    top: 50%; /* 画面の中央付近 */
    display: flex;
    flex-direction: column; /* 縦並び */
    z-index: 1000; /* 他の要素より前面に */
}

.SNS-button-photo {
    width: 50px; /* アイコンのサイズ */
    height: 50px;
    border-radius: 50%; /* 丸形 */
    background-color: white; /* 必要なら背景 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 軽い影 */
}

.SNS-button .instagram a {
    background: url(../img/instagram-icon.jpg) center/cover;
    width: 50px; /* アイコンのサイズ */
    height: 50px;
    border-radius: 15px; /* 丸形 */

}

.SNS-button .line a {
    background: url(../img/LINE_Brand_icon.png) center/cover;
    border-radius: 50%; /* クリック範囲も丸くする */
}

.SNS-button .facebook a{
    background: url(../img/Facebook_Logo_Primary.png) center/cover;
}

.SNS-button-photo a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px; /* テキストを非表示（視認性を損なわない） */
}

/* フローティングボタン */
.circle {
    display: flex;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: rgb(122, 112, 114);
    right: 1rem;
    bottom: 1rem;
    position: fixed;
    z-index: 1000;
}

.circle a {
    display: block;
    width: 100px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ececf7;
    text-decoration: none;
    display: inline-block;
    word-wrap: break-word;
}

.circle:hover {
    background-color: red;
}

/* ヘッダーナビ */

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 30px;
}

.header-menu a {
    color: #272730; /* 青など目立つ色 */
    text-decoration: none;
    font-weight: bold; /* 太字 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* 白っぽい影 */
}

.logo img{
    border-radius: 40%;
}

ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

li {
    list-style: none;
    margin: auto 10px;
}

.header-menu-subtittle {
    color: red;
}

h2 {
    text-align: center;
}

/* ヒーロー */
.hero {
    background: url(../img/hero.jpg) center/cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 3rem;
}

/* こだわり */

.craftsmanship-section {
    width: 100%;
    margin-bottom: 48px;
}

.craftsmanship{
    width: 100%;
}

.craftsmanship-top {
    text-align: center;
    font-weight: bold;
}

.craftmanship-contents {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.craftmanship-contents p {
    color: #f5f5fa;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0;

}

.craftmanship-contents a {
    color: #ececf7;
    text-decoration: none;
}

.craftmanship-content {
    background-color: rgba(255, 0, 0, 0.356);
    width: 100%;
}

.material, .charcoal, .how-to-cook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
}

.material .craftmanship-content, .charcoal .craftmanship-content, .how-to-cook .craftmanship-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.material {
    background: url(../img/material.png) center/cover;
}

.charcoal {
    background: url(../img/chacorl.jpg) center/cover;
}

.how-to-cook {
    background: url(../img/how-to-cook.png) center/cover;
}

.craftsmanship {
    display: flex;
    justify-content: center;
}

.craftsmanship-logo {
    text-align: center;
}

.craftsmanship-logo p {
    color: red;
}

.craftsmanship-top-subTitle {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 0;
}

/* 逸品料理 */
.speciality-dishes-section{
    margin-bottom: 100px;
}

.speciality-dishes-top {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.speciality-dishes-contents {
    display: flex;
}

.speciality-dishes-contents-left {
    background: url(../img/makigusi.png) no-repeat center/cover;
    width: 80%;
    height: 30rem;
    /* margin-left: 60px; */
}

.appeal-women {
    background-color: rgb(238, 162, 162);
    font-size: 14px;
    text-align: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.speciality-dishes-explain {
    text-align: center;
    margin: 100px 100px;
}

.speciality-dishes-contents-right-imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.speciality-dishes-contents-right-img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
}
/* 予約フォームとインスタグラム埋め込み */
.reserve-sns-wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
    /* gap: 10px; */
    margin: 0 auto;
}
/* 予約フォーム */
.reserve {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* margin: 5rem 0; */
    width: 50%;
} 
.reserve h3 {
    /* border: #272730 solid; */
    width: 50%;
    text-align: center;
    /* margin-bottom: 10px; */

}
form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* margin: auto; */
    gap:15px
}
.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.form-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
    
    border: #272730 solid;
}
.form-group input {
    width: 80%; /* 全ての input の幅を統一 */
    max-width: 400px; /* 必要なら最大幅を設定 */
    height: 3rem;
    text-align: center;
}

/* 予約ボタン */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(219, 94, 94);
    color: white;
    border-radius: 8px;
    /* padding: .8rem 1.5rem; */
    /* margin: auto; */
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background-color: rgb(255, 1, 1);
    transition: backgrocolor 1s ease-out 200ms;
}

/* インスタグラム */
.sns {
    width: 50%;
}
.sns-item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sns-item .header-medium {
    margin-bottom: .5rem;
}
.font-english {
    /* font-family: 'Philosopher', 'sans-serif'; */
    font-weight: normal;
}
.heading-medium {
    font-size: 3rem;
    text-align: center;
}
.instagram-media {
    margin: auto;
}

/* 求人情報 */
.recruit-info .subtitle {
    margin: 2rem 2rem;
}
.recruit-contents {
    background: url(../img/particulars2.jpg) no-repeat center/cover;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
}

.recruit-contents p {
    text-align: center;
}

.recruit-contents p {
    width: 50%;
    text-align: center;
}

/* 地図 */
.map-img {
    width: 100%;
    margin-top: 50px;
}

.map-img img {
    width: 100%;
}

/* フッター */
footer {
    width: 100%;
}

/* フッターメニュー */
.footer-menu {
    width: 100%;
    background-color: rgb(248, 8, 8);
    padding: 2rem 0;
    font-size: 1.4rem;
}

.footer-menu ul {
    width: 100%;
    display: flex; /* 横並び */
    /* gap: 5px;  */
    list-style-type: disc;
    list-style-position: inside;
}

.footer-menu ul li a {
    color: #ececf7;
    width: 100%;
    text-decoration: none;
}

/* フッターテーブル */
.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-footer .page-footer-img {
    width: 30%;
    display: flex;
    justify-content: right;
}
.page-footer-img img {
    width: 50%;
    height: auto;
}

.page-footer .info {
    width: 70%;
}
.page-footer .info th {
    width: 30%;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.page-footer .info td {
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
}

.copyright {
    background-color: red;
    text-align: center;
    padding:  2rem 0;
    margin-top: 1rem;
    color: #fff;
}
