@charset "UTF-8";

html{
    background-color: beige;
}

h1{
    background-color: red;
    color: white;
    text-align: center;
}

h2{
    background-color: orange;
    border-left: 5px black solid;
    padding-left: 5px;
    border-bottom: 2px solid darkolivegreen;
}

div {
    width: 80%;
    margin: auto;
    /* background-color: red; */
}

img {
    width: 100%;
}

div p {
    text-align: center;
}

.Ingredients {
    background-color:  orangered;
    color: white;
}

table{
    width: 80%;
    margin: auto;
    background-color: beige;
    text-align: center;
}

table ,th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    background-color: bisque;
}

.point {
    font-size: 25px;
    color: blue;
    font-weight: bold;
    
}