@charset "UTF-8";

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}


/* 基本 */
.peel * {
	margin: 0;
}

.peel img	{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}


